In [1]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession

from pyspark.sql.types import IntegerType
from pyspark.sql.types import StringType
from pyspark.sql.types import DoubleType

import shutil
import os
from typing import Sequence, Mapping, Any

In [ ]:
conf = SparkConf() \
            .set("spark.mongodb.read.connection.uri", "mongodb+srv://etl-neoway:pip20po0@mongo-teste.1xrdbcs.mongodb.net/?retryWrites=true&w=majority") \
            .set("spark.mongodb.write.connection.uri", "mongodb+srv://etl-neoway:pip20po0@mongo-teste.1xrdbcs.mongodb.net/?retryWrites=true&w=majority") \
            .set('spark.jars.packages','org.apache.hadoop:hadoop-aws:3.2.2,com.microsoft.azure:spark-mssql-connector_2.12:1.2.0')

spark = SparkSession \
            .builder \
            .appName('etl-dados-neoway') \
            .config(conf=conf) \
            .getOrCreate()

In [3]:
PATHS: Sequence[Mapping[str, Any]] = [
    {
        'default': 'G:\\Meu Drive\\4. Workspace\\teste_bi_neoway'
    },
    {
        'extract': 'loads\\extract',
        'transform': 'loads\\transform',
        'dataCloud': 'loads\\dataCloud'
    },
    {
        'path_bases_origem': '\\files\\spreadsheets\\'
    }
]

In [4]:
# Movendo arquivos para extract

# CNAE
shutil.copy(f"{PATHS[0].get('default')}\\{PATHS[2].get('path_bases_origem')}\\CNAE.csv", f"{PATHS[0].get('default')}\\{PATHS[1].get('extract')}\\cnae.csv")

# Empresas
shutil.copy(f"{PATHS[0].get('default')}\\{PATHS[2].get('path_bases_origem')}\\empresas.csv", f"{PATHS[0].get('default')}\\{PATHS[1].get('extract')}\\empresas.csv")

# empresasCalc 
shutil.copy(f"{PATHS[0].get('default')}\\{PATHS[2].get('path_bases_origem')}\\empresasCalc.csv", f"{PATHS[0].get('default')}\\{PATHS[1].get('extract')}\\empresasCalc.csv")

# Setores e Ramos de Atividades
shutil.copy(f"{PATHS[0].get('default')}\\{PATHS[2].get('path_bases_origem')}\\Setores e Ramos de Atividade.csv", f"{PATHS[0].get('default')}\\{PATHS[1].get('extract')}\\setores_e_ramos_de_atividades.csv")

'G:\\Meu Drive\\4. Workspace\\teste_bi_neoway\\loads\\extract\\setores_e_ramos_de_atividades.csv'

In [5]:
# spark.read \
#     .format("jdbc")



# sqlContext \
#     .read.format("jdbc")
#     .option("url", "jdbc:mysql://localhost/sparksql") 
#     .option("driver", "com.mysql.jdbc.Driver")
#     .option("dbtable", "baby_names")
#     .option("user", "root")
#     .option("password", "root")
#     .load()

IndentationError: unexpected indent (1806373392.py, line 8)

In [6]:
df_cnae = spark.read \
    .option("enconding", "UTF-8") \
    .option("delimiter", ";") \
    .option("header", "true") \
    .csv(f"{PATHS[0].get('default')}\\{PATHS[1].get('extract')}\\CNAE.csv")

df_cnae.createOrReplaceTempView("temp_cnaes")

NameError: name 'spark' is not defined

In [ ]:
df_ = spark.sql("""
    SELECT
        cast(trim(cd_cnpj) as string)   as cnpj,
        trim(nu_ordem)                  as num_ordem,
        trim(cd_ramo_atividade)         as cod_ramo_atividade,
        trim(de_ramo_atividade)         as de_ramo_atividade
    FROM temp_cnaes
""")